<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.modules.spider.mapper.LogMapper">

    <select id="getLoginUser" resultType="com.example.demo.modules.spider.entity.Log">
        SELECT * FROM log
        WHERE role = 1 OR role = 2
    </select>

    <select id="getLoginAdmin" resultType="com.example.demo.modules.spider.entity.Log">
        SELECT * FROM log
        WHERE role = 3 OR role = 4
    </select>

    <select id="getDate" resultType="com.example.demo.modules.spider.entity.Log">
        select COUNT(*) from view_sample
        <where>
            <if test="startTime != null and startTime != ''">
                AND `time` <![CDATA[>=]]> #{startTime}
            </if>
            <if test="stopTime != null and stopTime != ''">
                AND `time` <![CDATA[<=]]> #{stopTime}
            </if>
        </where>
    </select>
</mapper>
