<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.modules.spider.mapper.SampleMapper">

    <select id="get" resultType="Sample">
        select * from tb_sample
        where sampleId=#{sampleId} limit 1
    </select>

    <select id="gets" resultType="Sample">
        select * from tb_sample
    </select>

    <delete id="del" parameterType="int">
        delete from tb_sample
        where sampleId=#{sampleId}
    </delete>

    <update id="update" parameterType="Sample">
        update tb_sample
        set sampleNumber=#{sampleNumber},spiderId=#{spiderId},sampleGenetic=#{sampleGenetic},sampleTime=#{sampleTime},sampleLocations=#{sampleLocations},
        sampleList=#{sampleList},sampleLength=#{sampleLength},sampleInstruct=#{sampleInstruct},sampleJdu=#{sampleJdu},sampleWdu=#{sampleWdu}
        where sampleId=#{sampleId}
    </update>

    <insert id="add" parameterType="Sample">
        insert into
            tb_sample(sampleNumber,spiderId,userId,sampleGenetic,sampleTime,sampleLocations,sampleJdu,sampleWdu,sampleList,sampleInstruct,sampleLength)
        values(#{sampleNumber},#{spiderId},#{userId},#{sampleGenetic},#{sampleTime},#{sampleLocations},#{sampleJdu},#{sampleWdu},#{sampleList},#{sampleInstruct},#{sampleLength})
    </insert>
</mapper>