<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.modules.spider.mapper.TbUserMapper">

    <update id="up" parameterType="String">
        update tb_user
        set roleId = 1
        where id=#{id}
    </update>

    <update id="down" parameterType="String">
        update tb_user
        set roleId = 2
        where id=#{id}
    </update>


    <delete id="delList" parameterType="java.util.List">
        DELETE FROM tb_user WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>
</mapper>