<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.modules.spider.mapper.ViewUserMapper">


    <select id="selectViewUser" resultType="com.example.demo.modules.spider.entity.ViewUser">
        select * from view_user
        <where>
            <if test="search!=null and search != ''">
                id like concat('%',#{search},'%') or
                username like concat('%',#{search},'%') or
                `name` like concat('%',#{search},'%') or
                email like concat('%',#{search},'%')
            </if>
        </where>
    </select>

</mapper>
